<tr>
  <td><%= link_to supplier.name, :action => 'show', :id => supplier %></td>
  <td><%= link_to 'Editar', :action => 'edit', :id => supplier %></td>
  <td>
    <%= button_to 'Borrar', { :action => 'destroy', :id => supplier },
        data: { confirm: "¿Está seguro que desea eliminar el proveedor #{supplier.name}?" } %>   
  </td>
</tr>
